.Comment{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Comment img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.comment-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cm {
    margin-left: 1rem;
}