.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
}

.navIcons svg{
    width: 1.5rem;
    height: 1.5rem;
}

#r-button{
  height: 3rem;
  width: 80%;
  align-self: center;
}