.FollowersCard {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.User {
  background-color: var(--cardColor);
  padding: 10px;
  border-radius: 10px;
  width: 16.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User > div {
  display: flex;
  gap: 10px;
}

.followerImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.PersonName {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}

#fc-button {
  height: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.unfollow {
  color: var(--blue);
  width: 75px;
  border: 2px solid var(--blue);
  cursor: pointer;
  background: transparent;
}

.unfollow:hover {
  color: white;
  border: none;
  background: var(--blue);
}

.elipsis{
  overflow: hidden;
  display: block;
  max-width: 130px;
  text-overflow: ellipsis;
}
